* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background-color: #334155;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
